DJANGO__DEBUG_MODE=True
DJANGO__SECRET_KEY="django-insecure-de#&08#s*xav#0t_gv&u51_)sk+y%*-iw$aikr2m^l3*^l0rli"

POSTGRESQL__USERNAME="admin"
POSTGRESQL__PASSWORD="123456"
POSTGRESQL__DATABASE_NAME="db"
POSTGRESQL__HOST="db"
POSTGRESQL__PORT=5432

LOCUST__LOAD_TEST_PRODUCT_ID=1